 .Contact {
    background: rgba(18,18,18,1);
    box-sizing: border-box;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
}

.ContactTitle {
    margin: 0px 0px;
    font-size: 19px;
    color :white;
    margin-bottom: 30px;
    width:100%;
}
.ContactContainer {
    display: table;
}
.Form {
    width: 100%;
    padding: 14px 20px 16px 20px;
    color: white;
    border-radius: 3px;
    background: #222222;
    box-sizing: border-box;
    box-shadow: 3px 3px  6px rgba(0,0,0,0.7);
}
.Form input, .Form button{
    width: 100%;
    margin: 5px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    padding: 6px;
    background: #ededed;
    outline: none;
    border: none;
}
.Form textarea{
    width: 100%;
    margin: 5px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 15px;
    padding: 6px;
    overflow-y: auto;
    resize: none;
    outline: none;
    background: #ededed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.Form button {
    width: 100%;
    background: #ededed;
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #222222;
}
.Form button:hover {
    background: #bcbcbc;
    cursor: pointer;
}

.References {
    width: 60%;
    padding-left: 30px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}

.Reference {
    display: table-cell;
    padding: 12px;
    background: #222233;
    color: white;
    border-radius: 3px;
    position: relative;
    box-shadow: 3px 3px  6px rgba(0,0,0,0.7);
}
.ReferenceQuote {
    padding: 5px 25px 5px 30px;
    margin-bottom: 10px;
    display: inline-block;
}
.ReferenceQuoteSymbolLeft {
    width: 30px;
    display: inline-block;
    position: absolute;
    left: 15px;
    user-select: none;
    top: 15px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.ReferenceQuoteSymbolRight {
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 15px;
    user-select: none;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.ReferenceSignature {
    text-align: right;
    color: white;
    font-style: italic;
    float: right;
}
.ReferenceLink {
    color: #9999aa;
    float: left;
    font-size: 14px;
    text-align: left;
    position: absolute;
    bottom: 12px;
    left: 14px;
}
.ReferenceLink a {
    color: #aaaabb;
}

@media only screen and (max-width: 850px) {
    .ContactContainer {
        display: inline;
    }
    .References {
        padding-top: 30px;
        padding-left: 0;
    }
}