.Footer {
    width: 100%;
    text-align: center;
    background: #171733;
    color: #bcbcbc;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.Socials {
    float: left;
    height: 46px;
}
.Username {
    line-height: 36px;
    font-size: 18px;
    margin-left: 20px;
    float: left;
}
.Socials button {
    width: 36px;
    height: 36px;
    background: #222222;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 6px;
    margin: none;
    display: inline-block;
    box-shadow: 3px 3px  6px rgba(0,0,0,0.7);
}
.Socials a + a {
    margin-left: 20px;
}
.Socials button:hover {
    cursor: pointer;
    background: #2c2c2c;
}
.Socials button img {
    filter: invert(80%);
}
.FooterCopyright {
    float: right;
    font-size: 16px;
    color: #bcbcbc;
    line-height: 36px;
}
@media only screen and (max-width: 650px) {
    .Footer {
        padding-top: 10px;
        text-align: center;
    }
    .Socials {
        float: none;
        text-align: center;
        display: inline;
    }
    .Username {
        display: none;
    }
    .Socials button {
        text-align: center;
        display: inline-block;
    }
    .FooterCopyright {
        margin-top: 10px;
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }
}