.ProjectFullScreen {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: none;

    overflow-y: scroll;
    z-index: -10;

    padding-top: 30px;
    padding-bottom: 30px;
}
.ProjectFullScreenShow {
    z-index: 500;
    background: rgba(0,0,0,0.7);
    overflow-y: scroll;
}
.ProjectFullScreenPanel {
    width: 1024px;

    margin-left: auto;
    margin-right: auto;

    min-height: 1400px;

    border-radius: 3px;

    background: red;

    transform: rotateY(90deg);
    transition: transform 1s ease-out;
}
.ProjectFullScreenPanelShow {
    transform: rotateY(0deg);
    transition: transform 1s ease-out;
}
