.Topbar {
    height: 50px;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 5;
    line-height: 50px;
    background: #111122;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

.Links {
    float: right;
}

.Links a {
    color: white;
    line-height: 50px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    float: left;
}
.Links a:hover {
    background: rgba(255,255,255,0.05);
}