.Topbar {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    line-height: 50px;
    background: #171733;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.Links {
    float: right;
}
.Links a {
    color: white;
    line-height: 50px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    float: left;
    box-sizing: border-box;
}
.Links a:hover {
    background: rgba(255,255,255,0.05);
}
select {
    width: 90px;
    height: 50px;
    padding-left: 5px;
    padding-top: 3px;
    outline: none;
    border: none;
    color: white;
    background: inherit;
    line-height: 54px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: center;
    float: right;
    box-sizing: border-box;
}
select option {
    color: #111122;
}
select:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.05);
}
.MenuButton {
    color: rgba(0,0,0,0);
    width: 0px;
    float: right;
    overflow: hidden;
    user-select: none;
}
@media only screen and (max-width: 680px) {
    .MenuButton {
        width: 60px;
        color: white;
        text-align: center;
        font-size: 28px;
    }
    .MenuButton img{
        padding-top: 13px;
        height: 35px;
        box-sizing: border-box;
    }
    .MenuButtonActive {
        background: rgba(255,255,255,0.05) !important;
    }
    .MenuButton:hover {
        background: rgba(255,255,255,0.05);
        cursor: pointer;
    }
    
    .Links {
        position: absolute;

        left: 0;
        right: 0;
        top: 50px;

        align-content: center;
    }
    .Links * {
        display: none;
        width: 0px;
        text-align: center;
        display:none !important;
        background: #222233;
    }
    .Links *:hover {
        background: #333344 !important;
    }
    .MenuShown *{
        width: 100% !important;
        display: block !important;
    }
}