.Topbar {
    height: 50px;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 5;
    line-height: 50px;
    background: #171733;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.Links {
    float: right;
}
.Links a {
    color: white;
    line-height: 50px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    float: left;
}
.Links a:hover {
    background: rgba(255,255,255,0.05);
}
select {
    width: 90px;
    height: 54px;
    padding-left: 5px;
    outline: none;
    border: none;
    color: white;
    background: inherit;
    line-height: 50px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
    float: right;
}
select option {
    color: #111122;
}
select:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.05);
}